<footer class="container-fluid bg-grey py-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 text-center">
            <div class="logo-part">
              <img
                src="../../../assets/logo_transparent.png"
                class="w-100 logo-footer img-fluid"
              />
              <p>© Todos los derechos reservados</p>
            </div>
          </div>
          <div class="col-md-6 px-4">
            <h3>Contactanos</h3>
            <p>
              Si quieres hacernos alguna pregunta,
              <br />no dudes, nos encantará responderte.
            </p>
            <button
              type="button"
              class="btn btn-outline-success rounded mt-3 mb-5"
              routerLink="/contacto"
            >
              Enviar mensaje
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 px-4">
            <h3>Redes sociales</h3>
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center flex-column">
                <a type="button" class="" routerLink="/contacto">
                  <i
                    class="
                      fab
                      fa-facebook-f
                      btn btn-outline-success
                      rounded-pill
                    "
                  ></i>
                </a>
                <a type="button" class="mt-3" routerLink="/contacto">
                  <i
                    class="
                      fab
                      fa-instagram
                      btn btn-outline-success
                      rounded-pill
                    "
                  ></i>
                </a>
                <a type="button" class="mt-3 mb-5" routerLink="/contacto">
                  <i
                    class="fab fa-twitter btn btn-outline-success rounded-pill"
                  ></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Bibliografía</h3>
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li>
                    <a href="https://medicoplus.com/ciencia/tipos-de-animales"
                      target="_blank">Tipos de animales</a
                    >
                  </li>
                  <li class="mt-4">
                    <a
                      href="https://www.muyinteresante.es/naturaleza/fotos/los-10-animales-prehistoricos-mas-aterradores/"
                      target="_blank">Los 10 animales prehistóricos más aterradores</a
                    >
                  </li>

                  <li class="mt-4">
                    <a href="https://www.bbc.com/mundo/noticias-50581981"
                      target="_blank">8 animales ya extinguidos que nunca más volveremos a
                      ver</a
                    >
                  </li>
                  <li class="my-4">
                    <a
                      href="https://www.elespanol.com/omicrono/tecnologia/20170124/animales-extintos-podrian-resucitados-cientificos/188482362_0.html"
                      target="_blank">10 animales extintos que podrían ser resucitados por los
                      científicos</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
