<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <img src="../../../assets/logo.png" class="card-img-top" alt="..." />
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span>Fundación:</span> febrero de 2021, Cipolletti, Río Negro,
            Argentina
          </li>
          <li class="list-group-item">
            <span>Director Ejecutivo:</span> Elias Uribe
          </li>
          <li class="list-group-item">
            <span>Fundadores:</span> Elias Uribe y Pedro Uribe
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header text-center">Historia</h5>
            <div class="card-body">
              <p class="card-text">
                En 2021 creamos este zoológico para desarrollar un proyecto con
                énfasis de informar a las personas sobre los animales y ayudar a
                los mismos. Desde entonces hemos dado varias charlas y somos parte
                activa de iniciativas nacionales para la conservación.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header text-center">Nuestro equipo</h5>
            <div class="card-body">
              <p class="card-text">
                Somos más de 70 personas que trabajamos para los animales y la
                educación ambiental desde áreas como la veterinaria, biología,
                ciencias ambientales, cuidado animal, comunicación, turismo,
                administración, finanzas, mantenimiento, limpieza, jardinería y
                ventas. 
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header text-center">Objetivos</h5>
            <div class="card-body">
              <p class="card-text">
                Trabajamos con fauna nativa con énfasis en las especies más
                amenazadas, buscamos sensibilizar a la ciudadanía respecto a la
                vida silvestre y los problemas que la amenazan. Despertamos
                empatía en la gente para construir relaciones más respetuosas
                con los animales.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
