<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <img src="../../../assets/logo.png" class="card-img-top" alt="..." />
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span>Fundación:</span> febrero de 2021, Cipolletti, Río Negro,
            Argentina
          </li>
          <li class="list-group-item">
            <span>Director Ejecutivo:</span> Elias Uribe
          </li>
          <li class="list-group-item">
            <span>Fundadores:</span> Elias Uribe y Pedro Uribe
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header text-center">Historia</h5>
            <div class="card-body">
              <p class="card-text">
                El zoológico se creó en 2020. La Municipalidad de Cipolletti
                asumió el desafío de un espacio para el cuidado animal y la
                educación ambiental. En 2021 asumimos completamente la
                administración y gestión del zoológico para desarrollar un
                proyecto con énfasis en el rescate y la fauna nativa amenazada.
                Desde entonces el zoológico a cambiado el nombre a "Mirada
                Salvaje" y ha desarrollado varias experiencias en el rescate y
                rehabilitación de fauna y es parte activa de iniciativas
                nacionales para la conservación.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header text-center">Nuestro equipo</h5>
            <div class="card-body">
              <p class="card-text">
                Somos más de 50 personas que trabajamos para los animales y la
                educación ambiental desde áreas como la veterinaria, biología,
                ciencias ambientales, cuidado animal, comunicación, turismo,
                administración, finanzas, mantenimiento, limpieza, jardinería y
                ventas. Estamos agrupados en tres departamentos: administración,
                educación y fauna.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header text-center">Objetivos</h5>
            <div class="card-body">
              <p class="card-text">
                Trabajamos con fauna nativa con énfasis en las especies más
                amenazadas, buscamos sensibilizar a la ciudadanía respecto a la
                vida silvestre y los problemas que la amenazan. Despertamos
                empatía en la gente para construir relaciones más respetuosas
                con los animales.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
