<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card">
        <img src="../../../assets/logo.png" class="card-img-top" alt="..." />
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <span>Fundación:</span>  febrero de 2021, Cipolletti, Río Negro, Argentina</li>
          <li class="list-group-item"> <span>Director Ejecutivo:</span>  Elias Uribe</li>
          <li class="list-group-item"> <span>Fundadores:</span>  Elias Uribe y Pedro Uribe</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header">Historia</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header">Nuestro equipo</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header">Objetivos</h5>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
