.titulo-sec {
  background: linear-gradient(
    0deg,
    rgba(50, 226, 91, 1) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%,
    rgba(50, 226, 91, 1) 100%,
    rgba(14, 221, 62, 1) 100%
  );
  h2 {
    color: #4bbf73;
  }
}
.card-header {
  font-weight: bold;
  font-size: 1.2em;
  color: #4bbf73;
  background-color: rgba(0, 0, 0, 0.9);
}

.card {
  border: inherit;
  img {
    object-fit: cover;
    height: 300px;
  }
}
.borde-style {
  border-bottom: 8px solid #4bbf73;
  border-right: 4px solid #4bbf73;
}
