<div class="container my-4">
  <div class="titulo-sec my-3 text-center p-4 rounded">
    <h2>Los Invertebrados</h2>
  </div>

  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card rounded borde-style">
        <div class="card-body">
          <p class="card-text">
            Muchos de estos animales son pequeños, y disponen de conchas o
            caparazones como hogar y protección, ya que resultan ser muy
            vulnerables. Al no estar organizados con una estructura ósea, no es
            posible identificar las partes de su cuerpo de esta forma. Muchas
            especies de animales invertebrados, están protegidos por corazas
            óseas o caparazones, o bien disponiendo de una estructura externa
            llamada exoesqueleto. Representan aproximadamente el 95% de todas
            las especies de animales en el planeta tierra, y no tienen la
            capacidad de colonización u adaptación.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card">
      <div class="card-header text-uppercase text-center">Gusanos</div>
      <img src="../../../assets/invertebrados/gusano.jpg" class="card-img-top" alt="..." />
      <div class="card-body ">
        <p class="card-text">
          Los gusanos tienen un cuerpo blando que no está rodeado de ninguna
          estructura de protección y cuya principal característica es que se
          desplazan reptando. Las lombrices, las sanguijuelas e incluso el
          anisakis o la tenia son algunos de sus representantes.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-uppercase text-center">Moluscos</div>
      <img src="../../../assets/invertebrados/molusco.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          Los moluscos tienen un cuerpo blando que, a menudo, está rodeado de
          una concha dura. Pueden vivir tanto en la tierra como en el mar y
          tenemos: caracol, babosa, lapa, ostras, mejillones, almejas, pulpo,
          calamar...
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-uppercase text-center">Equinodermos</div>
      <img src="../../../assets/invertebrados/equinodermo.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          Los equinodermos son animales marinos con un cuerpo dividido en dos
          lados: una parte superior dura y una inferior blanda donde está la
          boca. Las estrellas de mar y los erizos son los principales
          representantes de este grupo.
        </p>
      </div>
    </div>
  </div>
  <div class="card-group mt-3">
    <div class="card">
      <div class="card-header text-uppercase text-center">Artrópodos</div>
      <img src="../../../assets/invertebrados/antrópodos.jfif" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          Son el grupo más diverso de invertebrados. De hecho, se estima que el
          90% de los animales de la Tierra forman parte de los artrópodos.
          Viven en cualquier medio y tienen una estructura de protección que los
          recubre, patas articuladas y el cuerpo dividido en cabeza, tórax y
          abdomen. Los insectos, las arañas, las garrapatas, los escorpiones,
          los crustáceos (cangrejo, langosta, camarón…), el ciempiés, el
          milpiés, etc. Todos estos son artrópodos.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-uppercase text-center">Esponjas</div>
      <img src="../../../assets/invertebrados/esponja.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          También conocidos como poríferos, las esponjas son animales sin
          capacidad de locomoción, pues viven anclados a la superficie de rocas
          en el lecho marino. Son los invertebrados más sencillos ya que no
          tienen sistema nervioso ni cualquier otro tipo de órgano. De todos
          modos, captan el alimento y el oxígeno a través de sus poros u
          orificios, donde tienen células diseñadas para ello.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-uppercase text-center">Cnidarios</div>
      <img src="../../../assets/invertebrados/cnidario.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          Los cnidarios son invertebrados acuáticos muy sencillos sin la
          capacidad de locomoción activa, aunque algunas especies sí que pueden
          moverse si son arrastrados por la corriente. Las medusas y los pólipos
          (viven fijos en las rocas marinas) como las anémonas y el coral son
          los principales representantes de este grupo.
        </p>
      </div>
    </div>
  </div>
</div>
