<div class="container contact-form rounded mt-4">
  <form method="post">
      <div class="container-titulo rounded">
        <h3 class="p-3">Ante cualquier duda contáctanos, te responderemos lo antes posible.</h3>
      </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="form-group mt-3">
          <input
            type="text"
            name="txtName"
            class="form-control"
            placeholder="Nombre *"
            value=""
          />
        </div>
        <div class="form-group mt-3">
          <input
            type="text"
            name="txtEmail"
            class="form-control"
            placeholder="Email *"
            value=""
          />
        </div>
        <div class="form-group mt-3">
          <input
            type="text"
            name="txtPhone"
            class="form-control"
            placeholder="Numero de teléfono (opcional) *"
            value=""
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mt-3">
          <textarea
            name="txtMsg"
            class="form-control"
            placeholder="Escribe tu mensaje *"
            rows="6"
          ></textarea>
        </div>
      </div>
      <div class="mt-5">
        <button type="button" class="btn btn-success rounded">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
