<div class="container my-4">
  <div class="titulo-sec my-3 text-center p-4 rounded">
    <h2>Los Anfibios</h2>
  </div>
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card img-card">
        <div class="card-header text-uppercase text-center">
          Dendrobates azureus
        </div>
        <img
          src="../../../assets/vertebrados/anfibios/rana azul.jpg"
          class="card-img-bottom"
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-12 ">
      <div class="card rounded borde-style">
        <div class="card-body">
          <p class="card-text">
            Los anfibios son animales vertebrados cuya principal característica
            es que pasan por una metamorfosis, es decir, sufren unos cambios
            morfológicos muy grandes para dejar de ser crías a ser adultos. La
            primera fase de su ciclo (renacuajo) es en el agua y la segunda, en
            la tierra. De ahí su nombre, que procede del griego “amphi” (doble)
            y “bio” (vida).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="card-group">
      <div class="card info borde-style">
        <div class="card-body">
          <p class="card-text">
            Son animales de sangre fría, por lo que deben mantenerse siempre
            húmedos para conservar su temperatura corporal. Es por ello que los
            anfibios siempre se encuentran cerca de ambientes acuáticos, pues
            deben estar constantemente con agua en su piel.
          </p>
          
        </div>
      </div>
      <div class="card info borde-style">
        <div class="card-body">
          <p class="card-text">
            Su piel, a diferencia de todos los otros animales, no está
            recubierta por ninguna estructura (ni pelo, ni escamas, ni plumas…)
            ya que es a través de ella que capta el oxígeno con un proceso que
            se conoce como respiración cutánea. Además, algunas especies tienen
            glándulas venenosas en la piel que segregan sustancias tóxicas.
          </p>
        </div>
      </div>
      <div class="card info borde-style">
        <div class="card-body">
          <p class="card-text">
            Tienen una reproducción similar a la de las aves, pues la
            fecundación es interna (hay cópula entre macho y hembra) pero el
            desarrollo fetal ocurre en los huevos que se ponen en el agua, de
            donde saldrán los renacuajos. Las ranas, los sapos, las salamandras,
            los tritones y las cecilias son algunos de los ejemplos de anfibio
            más comunes.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-group">
      <div class="card info">
        <div class="card-header text-uppercase text-center">
          Agalychnis callidryas
        </div>
        <img
          class="card-img-top"
          src="../../../assets/vertebrados/anfibios/sapo venenozo.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card info">
        <div class="card-header text-uppercase text-center">
          Rana arvalis o rana campestre
        </div>
        <img
          class="card-img-top"
          src="../../../assets/vertebrados/anfibios/rana toro.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card info">
        <div class="card-header text-uppercase text-center">Salamandra</div>
        <img
          class="card-img-top"
          src="../../../assets/vertebrados/anfibios/salamandra.jpg"
          alt="Card image cap"
        />
      </div>
    </div>
  </div>
</div>
