<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand p-2" routerLink="/home">Mirada Salvaje</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/inicio">Inicio
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vertebrados</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/mamiferos">Mamíferos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/aves">Aves</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/peces">Peces</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/reptiles">Reptiles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/anfibios">Anfibios</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/animalesextincion">Animales extintos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/galeria">Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/sobrenosotros">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contacto">Contacto</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>