.active {
  color: #3bd872 !important;
}
.nav-link {
  background: rgb(50, 226, 91);
  background: linear-gradient(
    0deg,
    rgba(50, 226, 91, 1) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%,
    rgba(50, 226, 91, 1) 100%,
    rgba(14, 221, 62, 1) 100%
  );

  transition: all 0.3s ease-in;

  font-weight: bold;
}
.nav-link:hover {
  color: #4bbf73 !important;
}
.navbar-brand {
  color: #4bbf73;
  font-weight: bold;
  border: 1px solid #4bbf73;
}

.navbar-light .navbar-nav .nav-link{
  color: rgba(0, 0, 0, 0.698);
}
