.active{
    border-top: 2px solid #4bbf73;
    border-bottom: 2px solid #4bbf73;
    color: #4bbf73 !important;
}
.nav-link:hover{
    border-top: 2px solid #4bbf73;
    border-bottom: 2px solid #4bbf73;
    color: #4bbf73 !important;
}