<div class="container mt-4">
  <div class="titulo-sec my-3 text-center p-4 rounded">
    <h2>Animales Extintos</h2>
    <hr class="separacion" />
  </div>
  <div class="row">
    <div class="col-md-4 my-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/1.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Liopleurodon</h3>
            <p class="content-text">
              El liopleurodon vivió en el periodo Jurásico, momento en que
              dominó los mares debido a su gran tamaño y sus capacidades como
              depredador. Podía pesar hasta 50 toneladas y medir entre 6 y 7
              metros. Perteneció a un orden superior de especies, los
              pliosaurios, cuyos dientes eran 8 veces más potentes que las del
              gran tiburón blanco, con 70 centímetros de largo. Además, las
              aletas de estos animales podrían medir unos 3 metros de largo.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 my-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/2.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Smilodon 'dientes de sable'</h3>
            <p class="content-text">
              Más conocido como tigre dientes de sable, el Smilodon se extinguió
              durante la era Cuaternaria, hace unos 10 000 años. Se estima que
              solía cazar en solitario y que gracias a sus enormes dientes podía
              matar a sus presas en el acto, mediante una efectiva mordedura en
              el cuello. Vivió en Asia, Europa y África, y sobrevivió hasta el
              final de la última glaciación, por lo que se calcula que pudo
              haber coincidido con los primeros Homo sapiens.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 my-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/3.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Madtsoia</h3>
            <p class="content-text">
              Podía pesar más de 1 tonelada y medir entre 15 y 20 metros. Se
              trata de una de la serpientes más grandes que ha poblado la
              Tierra. La anaconda, la más grande que se conoce en la actualidad,
              no supera los 8 metros y los 200 kilogramos de peso. Los
              científicos no están seguros del periodo exacto en el que vivió,
              pero se estima que sobrevivó durante muchos millones de años:
              probablemente comenzó a existir hace 90 millones de años y se
              extinguió hace solo 2 millones de años.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 mt-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/4.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Tigre de java</h3>
            <p class="content-text">
              Original de Indonesia. La población de la especie empezó a
              disminuir como consecuencia del aumento de los cultivos de la
              zona. Desapareció en 1994. El último registro que se tiene de
              haber sido visto fue en la parta más alta de la montaña de Java.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 mt-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/5.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Guacamayo azul</h3>
            <p class="content-text">
              Una de las especies más recientemente declarada extinta. El
              guacamayo azul era muy conocido por su belleza. Por ello, se
              encuentran muchas fotos de guacamayos de este tipo. Se trata del
              ave que inspiró la película Río. Sin embargo, la intervención
              humana en su hábitat natural provocó su desaparición.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 mt-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/6.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Mamut Lanudo</h3>
            <p class="content-text">
              Este tipo de mamut recibe su nombre debido a su gruesa capa de
              pelo lanudo que podía alcanzar los 90 cm de largo, además su piel
              tenía una capa de grasa de unos 10 cm lo que le otorgaba una gran
              resistencia al frío. Su extinción fue escalonada y se produjo
              miles de años antes en las áreas continentales que en las islas,
              comenzó a finales del Pleistoceno y terminó bien entrado el
              Holoceno. El mamut lanudo desapareció de Europa hacia el 10000 a.
              C, en Siberia en el 8000 a. C.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 mt-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/7.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Dodo</h3>
            <p class="content-text">
              Esta ave no voladora de aspecto deslumbrante vivió en la isla de
              Mauricio, sin depredadores naturales. Cuando los humanos llegaron
              al país insular del océano Índico, trayendo consigo otros animales
              y su propio apetito por la carne, el dodo no duró mucho. El último
              ejemplar desapareció a finales de 1700.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 mt-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/8.jfif"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Foca monje del Caribe</h3>
            <p class="content-text">
              Esta especie de foca nativa del Caribe vivió alguna vez en el
              golfo de México, la costa este de América Central y las costas del
              norte de América del Sur. Pero fue perseguida por el aceite que se
              puede extraer de su grasa, y la sobrepesca de sus fuentes de
              alimentos afectó gravemente a las sobrevivientes. Fue vista por
              última vez en 1952 en la isla Serranilla, entre Jamaica y
              Nicaragua.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 mt-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/9.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Alce irlandés</h3>
            <p class="content-text">
              Muchos de los animales extintos más notables eran similares a las
              especies que todavía existen hoy, pero un poco más extraños. El
              alce irlandés, o ciervo irlandés, se parece mucho a los alces que
              aún viven, excepto por el hecho de que medía más de dos metros de
              altura y que sus astas se extendían hasta los 3,65 m. Se extinguió
              hace unos 7.700 años, posiblemente por la caza y cambios
              climáticos.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 my-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/10.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Delfín del río Yangtsé</h3>
            <p class="content-text">
              Declarado extinto en 2006, el delfín chino del río Yangtsé tenía
              un sistema de ecolocalización altamente evolucionado, muy superior
              al de otros delfines. Estaba tan bien configurado que podía
              identificar la posición de peces individuales. Pero el río se
              llenó de botes de pescadores, barcos y contaminación humana, y no
              pudo sobrevivir.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 my-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/11.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Colobo rojo de Miss Waldron</h3>
            <p class="content-text">
              El colobo rojo de Miss Waldron, que vivía en la frontera entre
              Ghana y Costa de Marfil, no tenía pulgares. Una criatura gentil,
              acostumbrada a vivir en grandes grupos en lo alto de las copas de
              los árboles, se vio obligada a cambiar su forma de vida cuando el
              hombre comenzó a acortar su hábitat. A medida que los bosques se
              redujeron de tamaño, los grupos de colobos se volvieron demasiado
              pequeños, lo que condujo a una menor protección contra los
              depredadores.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    <div class="col-md-4 my-3">
      <div class="content rounded">
        <a>
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="../../../assets/animales extintos/12.jpg"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Rinoceronte lanudo</h3>
            <p class="content-text">
              Esta especie de rinoceronte solía encontrarse en algunas regiones
              de Europa y de Asia. Se encuentra entre los animales extinguidos
              por el hombre, porque su desaparición se dio como consecuencia de
              la caza humana. No se tiene certeza sobre la fecha en la que se
              extinguió.
            </p>
          </div>
        </a>
      </div>
      <hr class="separacion" />
    </div>
    
  </div>
</div>
