<div class="container my-4">
  <div class="titulo-sec my-3 text-center p-4 rounded">
    <h2>Los Mamíferos</h2>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card mb-3 rounded">
        <div class="row g-0">
          <div class="col-md-6 img-card">
            <img
              src="https://mmedia.eluniversal.com/18073/df-27428.jpg"
              alt="..."
            />
          </div>
          <div class="col-md-6 borde-style">
            <div class="card-body">
              <p class="card-text">
                Los mamíferos son animales vertebrados cuya principal
                característica es que el desarrollo fetal ocurre en el interior
                de las hembras y que después, las crías se alimentan de la leche
                de las glándulas mamarias de la madre. Otra de las principales
                características de los mamíferos es que disponen del sistema
                nervioso central más desarrollado de la naturaleza, lo que les
                permite percibir estímulos y responder ante ellos de formas muy
                complejas. Gracias a ello los mamíferos son capaces de
                anticiparse a peligros que saben que pueden resultar dañinos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card info rounded borde-style">
        <div class="card-body">
          <p class="card-text">
            Además, otro de los rasgos en común de los mamíferos es que la piel,
            en la mayoría de casos, está rodeada de pelo, algo de lo que no
            disponen los otros grupos de animales, y que son seres de sangre
            caliente, es decir, son capaces de conservar su temperatura corporal
            independientemente del medio.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card info rounded borde-style">
        <div class="card-body">
          <p class="card-text">
            Conocemos más de 5.400 especies de mamíferos: perros, caballos,
            elefantes, ratas, leones, osos, monos y, evidentemente, los humanos.
            No tienen por qué estar en la superficie terrestre, pues los
            murciélagos son mamíferos pese a poder volar, del mismo modo que lo
            son los delfines aunque sean organismos acuáticos.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6 mb-4">
      <div class="card info">
        <div class="card-header text-uppercase text-center">Koala</div>
        <img
          src="https://fotografias-compromiso.atresmedia.com/clipping/cmsimages01/2017/08/23/596AB2EA-9101-4B3F-8488-5DA7FF0BED73/58.jpg"
          class="card-img-bottom"
          alt="..."
        />
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card info">
        <div class="card-header text-uppercase text-center">Elefante</div>
        <img
          src="https://s1.eestatic.com/2018/07/27/actualidad/actualidad_325729602_91359121_1706x960.jpg"
          class="card-img-bottom"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
