<div class="container my-4">
  <div class="titulo-sec my-3 text-center p-4 rounded">
    <h2>Las Aves</h2>
  </div>
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="card mb-3 rounded">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card-body">
              <p class="card-text">
                A grandes rasgos, las aves son los animales especializados en
                volar, aunque algunas de las especies han perdido la capacidad
                de hacerlo a lo largo de la evolución. Su principal
                característica es que su piel está recubierta de plumas.
                Exceptuando los murciélagos, que son mamíferos, son los únicos
                animales capaces de volar, algo que se consigue gracias a la
                presencia de alas, unas estructuras anatómicas con la
                musculatura necesaria para permitir el vuelo activo. Junto a los
                mamíferos, son el único grupo de animales de sangre caliente.
              </p>
            </div>
          </div>
          <div class="col-md-6 img-card">
            <img
              src="../../../assets/vertebrados/aves/Guacamayo azul.jpg"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card info rounded borde-style">
        <div class="card-body">
          <p class="card-text">
            Además, todas las aves disponen de pico, el cual sustituye a los
            dientes de los mamíferos. En este caso, se reproducen mediante
            huevos, es decir, el desarrollo fetal no se da en el interior de la
            hembra. Por lo tanto, pese a que la fecundación es interna, las
            crías se desarrollan en los huevos hasta que eclosionan cuando el
            individuo está listo para nacer.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card info rounded borde-style">
        <div class="card-body">
          <p class="card-text">
            Pueden saltar y caminar, aunque sus extremidades inferiores no están
            especialmente desarrolladas para dicha tarea, y son más destacados
            por su capacidad de volar gracias a sus alas, aunque no todas las
            aves pueden utilizar sus alas para volar y algunas sólo pueden
            lograr grandes saltos con ellas (por ejemplo las gallinas).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card info">
        <div class="card-header text-uppercase text-center">Águila calva</div>
        <img
          src="../../../assets/vertebrados/aves/aguila.webp"
          class="card-img-bottom"
          alt="..."
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="card info">
        <div class="card-header text-uppercase text-center">Guacamayo</div>
        <img
          src="../../../assets/vertebrados/aves/Guacamayo.jpg"
          class="card-img-bottom"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
