.card {
  background-color: rgba(0, 0, 0, 0.8);
  border: inherit;
  img {
    height: 500px;
    object-fit: cover;
  }
}

.introduccion {
  height: 150px;
  font-size: 2em;
  border: 2px solid #4bbf73;
}

/* ------------------------ Carrusel --------------------------- */

#carouselExampleIndicators .carousel-item.img-1 {
  background-image: url("../../../assets/inicio/carrusel\ 1.jpg");
}
#carouselExampleIndicators .carousel-item.img-2 {
  background-image: url("../../../assets/inicio/carrusel\ 2.jpg");
}
#carouselExampleIndicators .carousel-item.img-3 {
  background-image: url("../../../assets/inicio/carrusel\ 3.jpg");
}
#carouselExampleIndicators .carousel-item {
  height: 90vh;
  width: 100%;
  min-height: 350px;
  background: no-repeat center center fixed;
  background-size: cover;
}

//Para cuando le integre la animación
/* #carouselExampleIndicators .carousel-inner .carousel-item{
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  
  } */
#carouselExampleIndicators .carousel-item .info {
  color: #ffffff;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.8);
  padding: 2.5rem;
  //Para cuando le integre la animación
  /*   animation-duration: 1s;
      animation-delay: 2s; */
  h2 {
    font-size: 2em;
    color: #4bbf73;
  }
  p {
    font-size: 1.25em;
  }
}

/* ----- Retoques de diseño y colores al carrusel ------ */
.carousel-indicators .active {
  background-color: #4bbf73;
}
.fondo{
  background-color: rgba(0, 0, 0, 0.7);
}
/* .body-size{
  height: 300px;
  max-height: 400px;
} */

.separacion {
  margin: auto;
  background-color: #3cff00;
  max-width: 275px;
  height: 5px;
  margin-top: 1rem;
}
.col-md-12{
  h1,h3{
    color: #4bbf73;
  }

}


.card-title{
  color: #4bbf73;
  
}
.card-text{
  color: #4bbf73;
  a{
    color: #4bbf73;
  }
}
.borde-style{
 /*  border-bottom: 8px solid #4bbf73;
  border-right: 4px solid #4bbf73; */
  box-shadow: 0 0 5px #4bbf73,
                0 0 15px #4bbf73,
                0 0 30px #4bbf73;
}